{% extends 'movies/base.html' %}
{% block title %}10.Add Genre Page{% endblock %}

{% block content %}
<div class="movie-container">
    <div></div>
    <h1>add Genre Page</h1>
    <div>
        <form action="{% url 'movies:addgenre' %}" method="post">
            {% csrf_token %}
            <div><label for="genre-name">Genre Name</label>
                <input type="text" name="genre_name" id="genre-name" placeholder="e.g. Action, Comedy, Drama"/>
            </div>
            <div class="btn">
                <button type="submit">Save Genre</button>
                <button><a href="{% url 'movies:genre' %}">Cancel</a></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}