{% extends 'movies/base.html' %}

{% block title %}11.Add People Page{% endblock %}

{% block content %}
<div class="movie-container">
    <div></div>
    <h1>add People Page</h1>[17/Oct/2025 13:29:57] "GET /movies/homepage/ HTTP/1.1" 200 3382
    <div>
        <form action="{% url 'movies:addpeople' %}" method="post">
            {% csrf_token %}
            <div><label for="person-name">Genre Name</label>
                <input type="text" name="person_name" id="person-name"placeholder="Enter full name"/>
            </div>
            <div class="role-type">
                <label for="role_type">Role:</label>
                <select id="role_type" name="role_type" required>
                    {% for value, label in role_choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="birth-date">
            <label for="birth-date">Birthdate:</label>
            <input type="number" name="birth-date" id="birth-date" placeholder="17/Oct/2000">
            </div>

            <div class="biography">
                <label for="biography">Genre Name</label>
                <input type="text" name="biography" id="biography"placeholder="Enter biography..."/>
            </div>

            <div class="profile-photo">
                <label for="profile-photo"> Profile Photo</label>
                <input type="file" name="profile-photo" id="profile-photo" />
            </div>

            <div class="btn">
                <button type="submit">Save Person</button>
            <button><a href="{% url 'movies:people' %}">Cancel</a></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}