{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Movie Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
</head>
<body>
    <!-- whole-page -->
    <div class="whole-container">
            
        <head>
            <!-- navbar -->
            <div class="navbar">
                <div><h3>Movie Management System</h3></div>
                <div class="navbar-navitems">
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'movies:home' %}">Home</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'movies:movie' %}">Movies</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'movies:genre' %}">Genre</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'movies:people' %}">People</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'movies:addmovie' %}">Add Movie</a>
                    </div>
                </div>
            </div>
        </head>

        <main>
            <!-- Page content -->
            <div class="main-content">
                {% block content %}

                <br><br><br>
                {% endblock %}
            </div>
        </main>        
    </div>
    <script>
        function showToast() {
            const toastContainer = document.getElementById('toastContainer');
            const toast = document.createElement('div');
            toast.classList.add('toast');
            toast.textContent = 'you dont have access this page';

            toastContainer.appendChild(toast);

            setTimeout(() => {
                toast.classList.add('show');
            }, 100); 

            setTimeout(() => {
                toast.classList.remove('show');
                setTimeout(() => {
                    toast.remove();
                }, 500);
            }, 3000);
        }
    </script>
  </body>
</html>
