{% extends 'movies/base.html' %}
{% block title %}5.Genre List Page{% endblock %}

{% block content %}
<div class="genre-container">
    <div></div>
    <h1>Genre Page</h1>
    <div>
        <a class="nav-link" href="{% url 'movies:addgenre' %}">Add New Genre</a>
    </div>
    <div>
        {% for genre in genres %}
        <div>
            <h3>{{ genre.genre_name }}</h3>
            <p>{{ genre.movies.count }} movies</p>
            <hr>
            <div class="genre-btn">
                <form action="{% url 'movies:movie' %}" method="get">
                    <div name='genres'>
                        <input type="hidden" name="genres" value="{{ genre.genre_name }}">
                        <button type="submit">View Movies</button>
                    </div>
                </form>
                <button>Edit</button>
                <button><a href="{% url 'movies:deletegenre' pk=genre.id %}">Delete</a></button>
            <div>
        </div>
        {% empty %}
        <p>No genres found.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}  