{% extends 'movies/base.html' %}
{% block title %}5.Genre List Page{% endblock %}

{% block content %}
<div class="genre-container">
    <div class="genre-header">
    <h1>All Genres</h1>
        <button><a class="nav-link" href="{% url 'movies:addgenre' %}">Add New Genre</a></button>
    </div>
    <div class="genre-list">
        {% for genre in genres %}
        <div class="genre-card">
            <div class="genre-info">
                <h3>{{ genre.genre_name }}</h3>
                <p>{{ genre.movies.count }} movies</p>
            </div>
            <div class="action-btns">
                <div>
                    <form action="{% url 'movies:movie' %}" method="get">
                        <div name='genres'>
                            <input type="hidden" name="genres" value="{{ genre.genre_name }}">
                            <button class="genres-btns" type="submit">View Movies</button>
                        </div>
                    </form>
                </div>
                <div>
                    <button class="genres-btns"><a href="{% url 'movies:editgenre' genre.id %}">Edit</button>
                </div>
                <div>
                    <button class="genres-btns"><a href="{% url 'movies:deletegenre' pk=genre.id %}">Delete</a></button>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No genres found.</p>
        {% endfor %}
    </div>
</div>
{% endblock content %}  