{% extends 'movies/base.html' %}

{% block title %}1.Home Page - Movie Management{% endblock %}

{% block content %}
<div class="home-container">
    <!-- head-search -->
    <div class="head-search-container">
        <h2>Welcome to Movie Management System</h2>
        <p>Browse and manage your movie collection</p>
        <form class="search-box" method="get" role="search" action="{% url 'movies:movie' %}">
            <input class="search-input" name="search_movie" type="search" value="{{ request.GET.search_movie }}" placeholder="Search for movies by title..."/ required>
            <button class="btn" type="submit">Search</button>
        </form>
        <br>
    </div>
    <!-- content -->
    <div class="content">
        <h2 class="block-title">Browse by Genre</h2>
        <div class="genre-items">
        {% for genre in genres %}
            <form action="{% url 'movies:movie' %}" method="get">
                <div name='genres'>
                    <input type="hidden" name="genres" value="{{ genre.genre_name }}">
                    <button class="genre-btn" type="submit">{{ genre.genre_name }}</button>
                </div>
            </form>
        {% empty %}
        <p>No genre found.</p>
        {% endfor %}
        </div>
        <br>
        <h2 class="block-title">Popular Movies</h2>
        <div class="movie-block">
            {% for movie in movies %}
                <a class="nav-link" href="{% url 'movies:movieDetail' movie.id %}">
                    <div class="movie-card">
                        <div class="movie-poster">
                            <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
                        </div>
                        <div class="movie-info">
                            <h3>{{ movie.title }}</h3>
                            <p>{{ movie.release_year }} • {{ movie.genre }} • {{ movie.duration }} min</p>
                            <span> {{ review.rating }} rating * </span>
                        </div>
                    </div>
                </a>
            {% empty %}
                <p>No movies found.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
