{% extends 'movies/base.html' %}

{% block title %}1.Home Page - Movie Management{% endblock %}

{% block content %}
<div class="home-container">
    <!-- head-search -->
    <div class="head-search-container">
        <h2>Welcome to Movie Management System</h2>
        <p>Browse and manage your movie collection</p>
        <form class="search-box" method="get" action="{% url 'movies:movie' %}" role="search">
            <input class="search-input" type="search" placeholder="Search for movies, actors, directors..."/>
            <button class="btn" type="submit">Search</button>
        </form>
        <hr>
        <br>
        {% comment %}
        <!-- <form method="get" action="{% url 'movie_list' %}">
            <input type="text" name="q" placeholder="Search movies...">
            <button type="submit">Search</button>
        </form> -->
        {% endcomment %}
    </div>
    <!-- content -->
    <div class="content">
        <h2 class="block-title">Browse by Genre</h2><hr>
        <div class="genre-items">
            {% comment %} {% if genres %} {% endcomment %}
            <ul>
                {% for genre in genres %}
                <li>
                    <div><a href="{% url 'movies:movie' %}">{{ genre.genre_name }}</a></div>
                </li>
                {% empty %}
                <p>No genre found.</p>
                {% endfor %}
            </ul>
            {% comment %} {% endif %} {% endcomment %}
        </div>
        <br>
        <h2 class="block-title">Popular Movies</h2><hr>
        <div class="movie-block">
            <div class="movie-card">
                <a class="nav-link" href="{% url 'movies:movieDetail' %}">
                <div class="movie-poster">img</div>
                <div class="movie-info">
                    <h3>Movie-Title</h3>
                    <p>release-year * genre * duration</p>
                    <span>rating</span>
                </div>
                </a>
            </div>
            <!-- <hr> -->
            <div class="movie-card">
                <div class="movie-poster">img</div>
                <div class="movie-info">
                    <h3>Movie-Title</h3>
                    <p>release-year * genre * duration</p>
                    <span>rating</span>
                </div>
            </div>
            <div class="movie-card">
                <div class="movie-poster">img</div>
                <div class="movie-info">
                    <h3>Movie-Title</h3>
                    <p>release-year * genre * duration</p>
                    <span>rating</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}