{% extends 'movies/base.html' %}

{% block title %}9.Mange Movie Cast and Languages{% endblock title %} 

{% block content %}
<div class="movie-title">
    <h2>Manage Cast and Languages for <i>{{ movie.title }}</i></h2>
</div>

<div class="cast-container">
    <div class="cast-form">
        <form method="post">
            {% csrf_token %}
            <h3>Movie Cast</h3>
            <hr>
            <div class="add-cast-sontainer">
                <h4>Add Cast Member</h4>
                <label>Select Actor</label>
                <select name="actor" required>
                    <option value="">Choose an Actor...</option>
                    {% for actor in actors %}
                        <option value="{{ actor.id }}">{{ actor.person_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>Character Name</label>
                <input type="text" name="character_name" placeholder="Enter character name" required>
            </div>
            <div class="btn-add-cast-lang">
            <button type="submit" name="add_cast">+ Add to Cast</button>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if "cast" in message.tags %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

    <div class="cast-list">
        {% comment %} <h4>Existing Cast:</h4> {% endcomment %}
        <ul>
        {% for c in cast_list %}
            <li>
                {{ c.person.person_name }} <br>as {{ c.character_name }}
                <form action="{% url 'movies:removeCast' c.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% empty %}
            <li>No cast added yet.</li>
        {% endfor %}
        </ul>
    </div>
    
</div>
<hr>

<div class="lang-container">
    <div class="lang-form">
        <form method="post">
            {% csrf_token %}
            <h3>Movie Languages</h3>
            <hr>
            <div class="add-lang-container">
                <h4>Add Language</h4>
                <label>Select Language</label>
                <select name="language" required>
                    <option value="">Choose a Language...</option>
                    {% for i,lang in languages.items %}
                        <option value="{{ lang }}">{{ lang }}</option>
                    {% endfor %}
                </select>
            </div>  
            <div class="btn-add-cast-lang">      
            <button type="submit" name="add_language">+ Add Language</button>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if "lang" in message.tags %}
                    <div class="{{ message.tags }}">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>

    <div class="movie-languages">
        {% comment %} <h4>Existing Languages:</h4> {% endcomment %}
        <ul>
        {% for lang in movie_languages %}
            <li>
                {{ lang.language }} 
                <form action="{% url 'movies:removeLanguage' lang.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% empty %}
            <li>No languages added yet.</li>
        {% endfor %}
        </ul>
    </div>
</div>

<form action="{% url 'movies:manage_cast_language' movie_id=movie.id %}" method="post">
    {% csrf_token %}
    <div class="bottom-btns">
        <button><a href="{% url 'movies:movie' %}">Back to Movie</a></button>
        <button type="submit" name="done">Done</button>
    </div>
</form>


{% endblock %}









