{% extends "movies/base.html" %} 

{% block title %}2.Movie List Page{% endblock title %} 

{% block content %}
<div class="movie-container">
    <div class="head-container">
        <h1>All Movies</h1>
        <button><a class="nav-link" href="{% url 'movies:addmovie' %}">Add New Movie</a></button>
    </div>
    <br>
    <div class="filter-container">
        <form class="filter-movie" method="get" action="{% url 'movies:movie' %}" role="search">
            <div class="genre-dropdown">
                <label for="genre" id="form-label">Genre</label>
                <select name="genres" id="genre" class="form-select">
                    <option value="all">All Genres</option>
                    {% for genre in genres %}
                        <option value="{{ genre.id }}">{{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="years_list">Year</label>
                <select name="year">
                    <option value="all">All Years</option>
                    {% for year in years_list%}
                        <option value="{{ year.id }}">{{ release_year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="search-box">
                <label for="search_movie">Search</label>
                <input type="search" name="search_movie" value="{{ request.GET.search_movie|default:'' }}" placeholder="Search by title..."/>
            </div>
            <div class="btn-apply-filter">
                <button type="submit">Apply Filters</button>
            </div>
        </form>
    </div>
    <hr>
    
    <div class="movies-section">
        <table>
            movies
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Director</th>
                    <th>Year</th>
                    <th>Duration</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.genre.genre_name }}</td>
                    <td>{{ movie.director.person_name }}</td>
                    <td>{{ movie.release_year }}</td>
                    <td>{{ movie.duration }} min</td>
                    <td>*</td>
                    <td>
                        <button><a href="{% url 'movies:movieDetail' movie.id %}">View</a></button>
                        <button><a href="{% url 'movies:editmovie' movie.id %}">Edit</a></button>
                        <button><a href="{% url 'movies:deletemovie' pk=movie.id %}">Delete</a></button>
                    </td>
                    {% empty %}
                    <p>No Movie found.</p>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
