{% extends "movies/base.html" %} 

{% block title %}2.Movie List Page{% endblock title %} 

{% block content %}
<div class="movie-container">
    <div class="head-container"></div>
    <h1>All Movies</h1>
    <div>
        <button>
        <a class="nav-link" href="{% url 'movies:addmovie' %}">Add New Movie</a>
        </button>
    </div>
    <div class="filter-container">
        {% comment %} filter section {% endcomment %}
    </div>
    <hr>
    <div class="movies-section">
        <table>
        movies
        </table>

        <div class="movies-section">
        {% if movies %}
        <ul>
            {% for movie in movies %}
            <li>
                <strong>{{ movie.title }}</strong>
                {% if movie.release_year %} - {{ movie.release_year }}{% endif %} 
                {% if movie.genre %} | {{ movie.genre.genre_name }}{% endif %} 
                {% if movie.director %} | Directed by {{ movie.director.person_name }}{% endif %}
                <a href="{% url 'movies:manage-cast-languages' movie_id=movie.id %}">Manage cast/lang</a>
            </li>
            {% empty %}
            <p>No person found.</p>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

        <button>
        <a class="nav-link" href="{% url 'movies:movieDetail' %}">View</a>
        </button>
    </div>
</div>
{% endblock content %}
