{% extends 'movies/base.html' %}

{% block title %}6.People (Actor/Director) {% endblock %}

{% block content %}
<div class="people-container">
    <div class="people-header">
        <h1>All People</h1>
        <button><a class="nav-link" href="{% url 'movies:addpeople' %}">+ Add New Person</a></button>
    </div>
    <br>

    <div class="filter-container">
        <form class="filter-person" method="get" action="{% url 'movies:people' %}" role="search">
            <div class="filter-grp">
                <label for="role_type">Role Type</label>
                {% comment %} <select id="role_type" name="role_type">
                    {% for value, label in person.role_type.choices %}
                        <option value="{{ value }}">{{ label }}</option>
                    {% endfor %}
                </select> {% endcomment %}
                <select class="form-select" name="role_type">
                    <option value="all">All Roles</option>
                    <option value="actor">Actor</option>
                    <option value="director">Director</option>
                    <option value="writer">Writer</option>
                </select>
            </div>
            <div class="filter-grp">
                <label for="search_person">Search</label>
                <input type="search" name="search_person" value="{{ request.GET.search_person|default:'' }}" placeholder="Search by name..."/>
            </div>
            <button class="filter-grp" type="submit">Apply Filters</button>
        </form>
    </div>

    <div class="people-section">
    {% for person in people %}
    {% comment %} </a class="nav-link" href="{% url 'movies:personDetail' person.id %}"> {% endcomment %}
    {% comment %} <a class="nav-link" href="{% url 'movies:personDetail' person.id %}"> {% endcomment %}
        <div class="person-card">
            <div class="person-profile">
                {% if person.profile_photo %}
                    <img src="{{ person.profile_photo.url }}" alt="{{ person.person_name }}">
                {% else %}
                    👤
                {% endif %}
            </div>
            <div class="person-info">
                <h3>{{ person.person_name }}</h3>
                <span>{{ person.role_type }}</span>
                <p>Born: {{ person.birth_date }}</p>
                <p>{{ person.moviecast_set.count }} movies acted <br> {{ person.directed_movies.count }} movies directed</p>
            </div>
            <div class="action-btn">
                <button><a href="{% url 'movies:personDetail' person.id %}">View</a></button>
                <button><a href="{% url 'movies:editpeople' person.id %}">Edit</a></button>
                <button><a href="{% url 'movies:deletepeople' pk=person.id %}">Delete</a></button>
            </div>
        </div>
    {% comment %} </a> {% endcomment %}
    {% empty %}
        <p>No person found.</p>
    {% endfor %}
    </div>
</div>
{% endblock content %}
