{% extends "movies/base.html" %}

{% block title %}7.Person Detail Page{% endblock title %}

{% block content %}
{% comment %} <h1>Person Detail Page</h1> {% endcomment %}
<div class="person-detail-container">
    <div class="person-detail">
        <div class="person-profile">
            {% if person.profile_photo %}
                <img src="{{ person.profile_photo.url }}" alt="{{ person.person_name }}">
            {% else %}
                👤
            {% endif %}
        </div>
        <div class="person-main">   
            <h1>{{ person.person_name }}</h1>
            <span>{{ person.role_type }}</span>
            <p><strong>Born:</strong> {{ person.birth_date }}</p>
            <p><strong>Total Movies:</strong> {{ person.moviecast_set.count }} movies {% if acted_movie_casts %}acted {% else %} directed{% endif %} </p>
            <div class="person-action">
                <button><a href="{% url 'movies:editpeople' person.id %}">Edit Person</a></button>
                <button><a href="{% url 'movies:deletepeople' pk=person.id %}">Delete Person</a></button>
                <button><a href="{% url 'movies:people' %}">Back to List</a></button>
            </div>
        </div>
    </div>
    <div class="bio">
        <h2 class="block-title">Biography</h2>
        <p>{{ person.bio }}</p>
    </div>
    <div class="movie-detail-block">
        <h2 class="block-title">Movies</h2>
        <div>
        {% if person.directed_movies.all %}
            <h3>Directed</h3>
            {% for movie in person.directed_movies.all %}
                <div class="directed-movies">
                    <a href="{% url 'movies:movieDetail' movie.id %}">
                        {{ movie.title }} ({{ movie.release_year }})
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <div>
        {% if acted_movie_casts %}
            <h3>Acted In</h3>
            {% for cast_item in acted_movie_casts %} 
                <div class="acted-movies">
                    <a href="{% url 'movies:movieDetail' cast_item.movie_name.id %}">
                        <div class="movie-card">
                            <div class="movie-poster">
                                {% if movie.poster %}
                                    <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
                                {% else %}
                                    🎬
                                {% endif %}
                            </div>
                            <div class="movie-info">
                                <h3>{{ movie.title }}</h3>
                                <p>{{ movie.release_year }}</p>
                                <span> {{ review.rating }} rating * </span>
                            </div>
                            as {{ cast_item.character_name }}
                        </div> 
                    </a>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<br><br><br><br><br>
{% endblock content %}