{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'movies/css/style.css' %}">
</head>
<body>
    <div class="signin-container">
        <form method="post">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div>
                <label for={{ form.username.id_for_label }}>Username</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label for={{ form.password.id_for_label }}>Password</label>
                <input type="password" name="password"/>
            </div>
            <div class="signin-btn">
                <button type="submit">Log In</button>
                <button type="reset">Cancel</button>
            </div>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</body>
</html>